<button class="fab" (click)="openModal()">
  <fa-icon [icon]="faPlus"></fa-icon>
</button>
<div class="modal" *ngIf="openNewModal">
    <div class="modalBody" (click)="clickstopPropagation($event)" [class]="{slidedown:slideDown,slideUp:openNewModal}">
        <div class="header">
            <p class="whitecolor fontLarger">Create Group</p>
            <button class="IconButton whitecolor" (click)="closeModal()">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
        <div class="new">
            <div class="imageDiv">
                <div class="icon" [style]="'background-image: url('+defaultGroupIcon+');'">

                </div>
                <div class="label whitecolor">
                    <fa-icon [icon]="faCamera"></fa-icon> &nbsp;&nbsp;&nbsp;
                    <p>Group Logo</p>
                </div>
            </div>
            <div class="inputDiv">
                <form [formGroup]="newGroup">
                    <div class="namDiv">
                        <label class="whitecolor" for="">Name</label>
                        <input type="text" [class]="{invalid:validateNewGroup && !newGroup.controls.name.valid}" formControlName="name" class="textInput whitecolor" placeholder="Group Name">
                    </div>
                </form>
                <div class="namDiv">
                    <label class="whitecolor" for="">Description</label>
                    <textarea type="text" [class]="{invalid:validateNewGroup && !newGroup.controls.desc.valid}" [value]="newGroup.value.desc" (keyup)="handleTextArea($event)" class="textInput whitecolor" rows="3" placeholder="Group Description"></textarea>
                </div>
            </div>
        </div>
        <p class="whitecolor" style="display: inline;margin-left: 10px;">Sort:</p>
        <button class="sort" (click)="sortAsc()">
            Asc
        </button>
        <button class="sort" (click)="sortDsc()">
            Dsc
        </button>
        <div class="usersList">
            <ng-container *ngFor="let user of users,let i = index" }>
                <div class="user" *ngIf="user['groupId']==='' || user['groupId']===newGroup.value.id" (click)="handleNewGroupUserClick($event,user,user['id'])">
                    <button class="selectedUser" *ngIf="newGroup.value.users.indexOf(user)>-1">
                      <fa-icon [icon]="faCheck"></fa-icon>
                    </button>
                    <div class="userImage" [style]="'background-image: url('+user['Image']+');'">
                    </div>
                    <div class="userName whitecolor">
                        {{user['name']|titlecase}}
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="actionButtonsDiv">
            <button (click)="createGroup()">
              Create Group
          </button>
        </div>
    </div>
</div>
<div class="modal" *ngIf="openUpdateModal">
    <div class="modalBody" (click)="clickstopPropagation($event)" [class]="{slidedown:slideDown,slideUp:openUpdateModal}">
        <div class="header">
            <p class="whitecolor fontLarger">Update Group</p>
            <button class="IconButton whitecolor" (click)="closeUpdatingModal()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        </div>
        <div class="new">
            <div class="imageDiv">
                <div class="icon" *ngIf="updateGroup.value['Image']!==''" [style]="'background-image: url('+updateGroup.value['Image']+');'"></div>
                <div class="icon" *ngIf="updateGroup.value['Image']===''" [style]="'background-image: url('+defaultGroupIcon+');'"></div>
                <div class="label whitecolor">
                    <fa-icon [icon]="faCamera"></fa-icon> &nbsp;&nbsp;&nbsp;
                    <p>Group Logo</p>
                </div>
            </div>
            <div class="inputDiv">
                <form [formGroup]="updateGroup">
                    <div class="namDiv">
                        <label class="whitecolor" for="">Name</label>
                        <input type="text" [class]="{invalid:validateNewGroup && !updateGroup.controls.name.valid}" formControlName="name" class="textInput whitecolor" placeholder="Group Name">
                    </div>
                </form>
                <div class="namDiv">
                    <label class="whitecolor" for="">Description</label>
                    <textarea type="text" [class]="{invalid:validateNewGroup && !updateGroup.controls.desc.valid}" [value]="updateGroup.value.desc" (keyup)="handleTextAreaForUpdate($event)" class="textInput whitecolor" rows="3" placeholder="Group Description"></textarea>
                </div>
            </div>
        </div>
        <p class="whitecolor" style="display: inline;margin-left: 10px;">Sort:</p>
        <button class="sort" (click)="sortAsc()">
            Asc
        </button>
        <button class="sort" (click)="sortDsc()">
            Dsc
        </button>
        <div class="usersList">
            <ng-container *ngFor="let user of users,let i = index" }>
                <div class="user" *ngIf="user['groupId']==='' || user['groupId']===updateGroup.value.id" (click)="handleUpdateGroupUserClick($event,user,user['id'])">
                    <button class="selectedUser" *ngIf="user['groupId']===updateGroup.value.id">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </button>
                    <div class="userImage" [style]="'background-image: url('+user['Image']+');'">
                    </div>
                    <div class="userName whitecolor">
                        {{user['name']|titlecase}}
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="actionButtonsDiv">
            <button (click)="updatingGroup()">
          Update Group
      </button>
        </div>
    </div>
</div>
<h1 style="color: #fff;text-align: center;padding: 20px 0 10px 0;">Groups</h1>
<div class="groupsList">
    <p class="whitecolor" style="width: 100%;text-align: center;font-size: 1.2em;" *ngIf="groups.length===0">No groups present</p>
    <ng-container *ngFor="let group of groups,let i= index">
        <div class="group" (click)="selectGroupForUpdate(group,i)">
            <div class="groupIcon" *ngIf="group['Image']!==''" [style]="'background-image: url('+group['Image']+');'"></div>
            <div class="groupIcon" *ngIf="group['Image']===''" [style]="'background-image: url('+defaultGroupIcon+');'"></div>
            <div class="groupName">
                <p>{{group['name']}}</p>
            </div>
            <div class="groupdesc whitecolor">
                <p>{{group['desc']}}</p>
                <br>
                <p>Total members: {{group['users'].length}}</p>
            </div>
        </div>
    </ng-container>
</div>